@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexSans-BoldItalic';
  src: url('../fonts/IBMPlexSans-BoldItalic.otf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexSans-Italic';
  src: url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexSans-SemiBold';
  src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexSans-SemiBoldItalic';
  src: url('../fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'MullerNarrow-ExtraBold';
  src: url('../fonts/MullerNarrow-ExtraBold.otf') format('truetype');
}
@font-face {
  font-family: 'MullerNarrow-ExtraBoldItalic';
  src: url('../fonts/MullerNarrow-ExtraBoldItalic.otf') format('truetype');
}
@font-face {
  font-family: 'MullerNarrow-Light';
  src: url('../fonts/MullerNarrow-Light.otf') format('truetype');
}
@font-face {
  font-family: 'MullerNarrow-LightItalic';
  src: url('../fonts/MullerNarrow-LightItalic.otf') format('truetype');
}
